<nav id="footer" class="navbar navbar-expand navbar-light bg-light nav-footer" aria-label="Footer navigation">
  <div class="container">
    <div class="collapse navbar-collapse">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link" href="{{ "/mentions-legales/" | relURL }}">Mentions légales</a>
        <p>•</p>
        <a class="nav-item nav-link" href="https://github.com/inwardmovement/mettaconseil">GitHub</a>
      <p>•</p>
        <a class="nav-item nav-link" href="#" onclick="tarteaucitron.userInterface.openPanel();">Cookies</a>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  tarteaucitron.user.gtagUa = 'UA-114704921-2';
  (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
  (tarteaucitron.job = tarteaucitron.job || []).push('facebookcomment');
</script>
{{- with (getenv "CI") }}
  <script src="{{ "main.js" | relURL }}"></script>
{{ else }}
  <script src="{{ "js/jquery.js" | relURL }}"></script>
  <script src="{{ "js/bootstrap.js" | relURL }}"></script>
  <script src="{{ "js/scrolltofixed.js" | relURL }}"></script>
  <script src="{{ "js/app.js" | relURL }}"></script>
{{ end -}}
